body {
    font-family: Arial, sans-serif;
    background-color: #596fdc;
    margin: 20px;
}

h2 {
    color: #fefdfd;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

table th {
    background-color: #2c7be5;
    color: white;
    padding: 8px;
}

table td {
    padding: 8px;
    border: 1px solid #121111;
}

a {
    text-decoration: none;
    color: #fdfdfd;
}

a:hover {
    text-decoration: underline;
}

form {
    background-color: #7a809f;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
}

input, textarea, select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type=submit] {
    background-color: #2c7be5;
    color: rgb(58, 6, 231);
    border: none;
    padding: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1a5fd0;
}
